$text-color: #A031EB;
$text-shadow: #c183eb;
$text-lighter-shadow: #d9c2e9;

$background-color: #49166B;
$background-color-dark: #2A0D3D;
$background-color-darker: #180724;
$background-color-darkest: #0e0414;

$basic-shadow: 1rem 1rem 1rem black;

$secondary-background: #56376B;
$secondary-background-dark: #382446;
$secondary-background-darker: #1d1324;

$border-color: #7E27B8;
$border-shadow: #3c1357;
$border-light: #ad41f5;

$light-shadow: #BFBAEE;
$light-shadow-bright: #cecaee;
$light-shadow-brighter: #e7e6ee;

@mixin flexbox($direction, $justify: center, $alignitems: center, $aligncontent: center, $disp: flex, ){
	display: $disp;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: $alignitems;
	align-content: $aligncontent;
}