@import 'mixins';

.optionCircle{
    @include flexbox(column);
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    border: 5px solid $text-color;
    cursor: pointer;
    transition: all .2s ease-in-out;
    user-select: none;

    p{
        margin: 10px;
        font-size: 16px;
        text-shadow: none;
    }

    .icon {
        height: 40px;
        width: 40px;
    }

    &:hover{
        box-shadow: 0 0 20px $text-shadow;


        p{
            color: $text-shadow;
        }
    
        .icon {
            color: $text-shadow;
        }
    }

    &:active{
        border-color: $text-lighter-shadow;

        p{
            color: $text-lighter-shadow;
        }
    
        .icon {
            color: $text-lighter-shadow;
        }
    }

}