.menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1;
      grid-template-rows: 1;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / span 12;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / span 1;
  background-color: #070707;
  color: #75a1ff;
  text-shadow: 2px 2px 4px #a7c3ff;
  font-size: larger;
}

.menu .singleElementBox {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
}

.menu .singleElementBox svg[class*="icon"] {
  height: 2rem;
  width: 2rem;
  fill: #75a1ff;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.menu .singleElementBox svg[class*="icon"]:hover {
  fill: #a7c3ff;
}

.menu .singleElementBox .iconClicked {
  -webkit-transform: rotate(0.25turn);
          transform: rotate(0.25turn);
}

.menu .singleElementBox div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.menu .singleElementBox div p {
  margin: 0px;
  margin-left: 10px;
}

.menu .singleElementBox div:hover {
  color: #a7c3ff;
}

.menu .singleElementBox:nth-child(2) {
  -ms-grid-column: 11;
  grid-column: 11;
  -ms-grid-row: 1;
  grid-row: 1;
}

.menu .singleRowContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-grid-column: 2;
  -ms-grid-column-span: 11;
  grid-column: 2 / span 11;
  -ms-grid-row: 1;
  grid-row: 1;
}

.menu .singleRowContainer .optionTile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

.sliderContainer {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / span 12;
  -ms-grid-row: 4;
  grid-row: 4;
  z-index: 2;
}

.sliderContainer .singleRowContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-grid-column: 2;
  -ms-grid-column-span: 11;
  grid-column: 2 / span 11;
  -ms-grid-row: 1;
  grid-row: 1;
}

.sliderContainer .singleRowContainer .optionTile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  height: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: inherit;
}

.sliderContainer div[id*="slide"] {
  overflow: hidden;
  position: absolute;
  background-color: #070707;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  background-color: #070707;
  color: #75a1ff;
  text-shadow: 2px 2px 4px #a7c3ff;
  font-size: larger;
  height: inherit;
}

.sliderContainer #slide-off {
  height: 0px;
}

.sliderContainer #slide-on {
  height: 300px;
}
/*# sourceMappingURL=SlidingMenu.css.map */