.mainContainer {
  position: relative;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / span 12;
  -ms-grid-row: 4;
  -ms-grid-row-span: 10;
  grid-row: 4 / span 10;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas: "calendar conferenceDisp" "upcomingWindow conferenceDisp";
}

[class*=conferenceDisp] {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  grid-column: 1;
  background-color: #0c0c0c;
  border-right: solid 1px #75a1ff;
}

[class*=conferenceDisp] .upcomingSingle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  height: 5rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #75a1ff;
  text-shadow: 0 0 0.5rem #a7c3ff;
  background-color: #070707;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

[class*=conferenceDisp] .upcomingSingle:hover {
  background-color: black;
}

.calendar {
  display: -ms-grid;
  display: grid;
  overflow: hidden;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-columns: (minmax(0, 1fr))[10];
      grid-template-columns: repeat(10, minmax(0, 1fr));
  -ms-grid-rows: (minmax(0, 1fr))[6];
      grid-template-rows: repeat(6, minmax(0, 1fr));
  background-color: #0c0c0c;
  border: 1px solid #75a1ff;
  border-left: none;
}

.calendar .calendarHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 10;
  grid-column: 1 / span 10;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / span 1;
  background-color: #070707;
  color: #75a1ff;
  text-shadow: #a7c3ff;
}

.calendar .calendarHeader .singleElementBox {
  border: none;
}

.calendar .monthHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 10;
  grid-column: 1 / span 10;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / span 1;
  color: #75a1ff;
  text-shadow: #a7c3ff;
}

.calendar .monthHeader .singleElementBox {
  cursor: pointer;
  border: none;
}

.calendar [class*=singleDayBox] {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 1rem;
  font-weight: bold;
  color: #75a1ff;
}

.calendar [class*=singleDayBox]:nth-of-type(2n) {
  background-color: #1a1a1a;
}

.calendar [class*=singleDayBox]:hover {
  background-color: #111111;
}

.calendar [class*=singleDayBox]:nth-of-type(2n):hover {
  background-color: #111111;
}

.calendar .singleDayBoxPlanned {
  background-color: #75a1ff;
  color: black;
}

.calendar .singleDayBoxPlannedToday {
  border: 1px solid #a7c3ff;
  background-color: #75a1ff;
}

.calendar .singleDayBoxToday {
  border: 1px solid #a7c3ff;
}
/*# sourceMappingURL=Upcoming.css.map */