@import 'mixins';

.mainContainer{
    position: relative;
    grid-column: 1 / span 12;
    grid-row: 4 / span 10;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "calendar conferenceDisp"
    "upcomingWindow conferenceDisp";

}

[class*=conferenceDisp]{
    grid-row: 2;
    grid-column: 1;
    background-color: $background;
    border-right: solid 1px $text-color;

    .upcomingSingle{
        @include flexbox(column);
        width: 100%;
        height: 5rem;
        font-size: 1.5rem;
        font-weight: bold;
        color: $text-color;
        text-shadow: 0 0 0.5rem $text-shadow;
        background-color: $darker-bg;
        cursor: pointer;
        transition: all 0.5s ease-in-out;

        &:hover{
            background-color: black;
        }
    }

}

.upcomingWindow{
}

.calendar{

    display: grid;
    overflow: hidden;
    grid-row: 1;
    grid-column: 1;
    grid-template-columns: repeat(10, minmax(0, 1fr));
    grid-template-rows: repeat(6, minmax(0, 1fr));
    background-color: $background;
    border: 1px solid $text-color;
    border-left: none;
    

    .calendarHeader{
        @include flexbox(row);
        grid-column: 1 / span 10;
        grid-row: 1 / span 1;
        background-color: $darker-bg;
        color: $text-color;
        text-shadow: $text-shadow;
        // border: 1px solid $text-color;
        .singleElementBox{
            border: none;

        }
    }

    .monthHeader{
        @include flexbox(row);
        grid-column: 1 / span 10;
        grid-row: 2 / span 1;
        color: $text-color;
        text-shadow: $text-shadow;

        .singleElementBox{
            cursor: pointer;
            border: none;
        }
    }

    [class*=singleDayBox]{
        cursor: pointer;
        @include flexbox(row);
        padding: 1rem;
        font-weight: bold;
        color: $text-color;
        // border: 1px solid $text-color;

        &:nth-of-type(2n){
            background-color: $menu-hover;
        }

        &:hover{
            background-color: #111111;
        }
        
        &:nth-of-type(2n):hover{
            background-color: #111111;
        }

    }

    .singleDayBoxPlanned{
        background-color: $text-color;
        color: black;
  
    }

    .singleDayBoxPlannedToday{
        border: 1px solid $text-shadow;
        background-color: $text-color;
    }

    .singleDayBoxToday{
        border: 1px solid $text-shadow;
    }





}