@import 'mixins';
// Dot pattern
$bg-color: $color-main;
$dot-color: $color-light-gray;

$dot-size: 1px;
$dot-space: 22px;

html{
	font-size: 16px;
	font-family: Helvetica;
}

#background {
    height: 100%;
    width: 100%;
	// max-width: fit-content;
	// max-height: fit-content;
	min-width: 960px;
	min-height: 580px;
	background:
		linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center,
		linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
		$dot-color;
	background-size: $dot-space $dot-space;
}

.button {
	padding: 1rem;
	font-size: 1rem;
	color: $color-normal;
	border-color: $color-normal;
	border-radius: 1rem;
	background-color: $color-gray;
	border-style: solid;

	&:hover {
		@include effect-hover(1rem);
		color: $color-high-lightup;
		border-color: $color-high-lightup;
	}

	&:focus {
		outline: none;
	}

	&:active {
		@include effect-active(1rem);
		border-color: $color-high-lightup;
		// box-shadow: 0 0 1rem $color-normal;
	}
}

.inputForm {
	margin: 1rem;
	font-family: Helvetica;
	font-size: 1rem;
	background-color: $color-gray;
	border-color: $color-normal;
	border-style: solid;
	padding: 1rem;
	border-radius: 1rem;
	text-align: center;
	color: $color-normal;
	transition: all 0.3s ease-in-out;

	&:focus {
		color: $color-high-lightup;
		outline: none;
		@include effect-active(0.5rem);
		border-color: $color-high-lightup;
	}

	&::placeholder {
		user-select: none;
		text-align: center;
		color: $color-normal;
	}

}

.singleElementBox {
	@include flexbox(row);
	padding: 1rem;
}

.singleRowContainer{
	@include flexbox(row);
	height: 100%;
	width: 100%;
}

.singleColumnContainer{
	@include flexbox(column);
	height: 100%;
	width: 100%;
}

p {
	@include text();
	padding: 1rem;
	font-size: 1rem;

	&:hover {
		@include text-active(2rem);
	}
}

h1 {
	@include text-active(3rem);
	font-size: 2rem;
	// margin: 1rem;
}

h3 {
	@include text-active(2rem);
	font-size: 1.5rem;
	width: 100%;
	height: 100%;
}

label {
	height: fit-content;
}

