@import 'mixins';

.menu {

    display: grid;
    grid-template-rows: 1;
    grid-template-columns: repeat(12, 1fr);
    grid-column: 1 / span 12;
    grid-row: 3 / span 1;
    background-color: black;
    font-size: larger;

    .singleElementBox{
        grid-column: 1;
        grid-row: 1;
        


        svg[class*="icon"]{
            height: 2rem;
            width: 2rem;
            @include icon();

            &:hover{
                @include effect-hover(2px);
            }

            &:active{
                @include effect-active(4px);
            }
        }

        .iconClicked{
            transform: rotate(0.25turn);
        }

        div{
            @include flexbox(row);
            @include icon();
            user-select: none;
            p{
                margin: 0px;
                margin-left: 10px;
            }

            &:hover{
                @include effect-hover(2px);
            }

            &:active{
                @include effect-active(4px);
            }
        }
    }

    .singleElementBox:nth-child(2){
        grid-column: 11;
        grid-row: 1;
    }

    .singleRowContainer{
        @include flexbox(row, space-around);
        grid-column: 2 / span 11;
        grid-row:1;

        .optionTile{
            @include flexbox(row);
            height: 100%;
            box-sizing: border-box;
            width: 100%;
        }
    }
}

.sliderContainer{
    
    grid-column: 1 / span 12;
    grid-row:4;
    z-index: 2;

    .singleRowContainer{
        @include flexbox(row, space-around);
        
        grid-column: 2 / span 11;
        grid-row:1;

        .optionTile{
            @include flexbox(row);
            height: inherit;
            box-sizing: border-box;
            width: inherit;
        }
    }

    div[id*="slide"]{
        overflow: hidden;
        position: absolute;
        background-color: black;
        transition: all 0.4s ease-in-out;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        font-size: larger;
        height: inherit;
    }

    #slide-off{
        height: 0px;
    }
    
    #slide-on{
        height: 300px;
    }
    
}
