.conferenceGrid {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/ span 12;
  -ms-grid-row: 4;
  -ms-grid-row-span: 10;
  grid-row: 4 / span 10;
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: (1fr)[12];
      grid-template-rows: repeat(12, 1fr);
  background-color: #080808;
}

.conferenceGrid h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  font-size: 3rem;
  background-color: black;
  border: 3px solid #c00433;
}

.conferenceGrid h1:nth-of-type(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1/ span 6;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
}

.conferenceGrid h1:nth-of-type(2) {
  -ms-grid-column: 7;
  -ms-grid-column-span: 6;
  grid-column: 7/ span 6;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
}

.conferenceGrid .conferenceInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  color: #3b33b1;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  border: 3px solid #3b33b1;
  font-size: 1.5rem;
  border-top: 0px;
  cursor: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.conferenceGrid .conferenceInfo:nth-of-type(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1/ span 6;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3 / span 2;
}

.conferenceGrid .conferenceInfo:nth-of-type(2) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1/ span 6;
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
  grid-row: 5 / span 2;
}

.conferenceGrid .conferenceInfo:nth-of-type(3) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1/ span 6;
  -ms-grid-row: 7;
  -ms-grid-row-span: 2;
  grid-row: 7 / span 2;
}

.conferenceGrid .conferenceInfo:nth-of-type(4) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1/ span 6;
  -ms-grid-row: 9;
  -ms-grid-row-span: 4;
  grid-row: 9 / span 4;
}

.conferenceGrid .conferenceInfo mark {
  background-color: transparent;
  color: #906bff;
  text-shadow: 0 0 1rem #c00433;
  padding-left: 1rem;
}

.conferenceGrid .conferenceInfo .button {
  height: 7rem;
  width: 12rem;
  font-size: 2rem;
}

.conferenceGrid .panelContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-grid-column: 7;
  -ms-grid-column-span: 6;
  grid-column: 7/ span 6;
  -ms-grid-row: 5;
  -ms-grid-row-span: 10;
  grid-row: 5 / span 10;
  overflow-y: scroll;
}

.conferenceGrid .panelContainer::-webkit-scrollbar {
  display: none;
}

.conferenceGrid .inputForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-grid-column: 7;
  -ms-grid-column-span: 6;
  grid-column: 7/ span 6;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / span 1;
}

.conferenceGrid .singleRowContainer {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 40px;
}

.conferenceGrid .singleRowContainer .singleRowContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-right: 2rem;
}

.conferenceGrid .singleRowContainer div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 2rem;
  color: #3b33b1;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  width: 100%;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.conferenceGrid #comm {
  -ms-grid-column: 7;
  -ms-grid-column-span: 6;
  grid-column: 7/ span 6;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / span 1;
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  color: #3b33b1;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  cursor: default;
}
/*# sourceMappingURL=Conference.css.map */