.signedConferences {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  overflow: hidden;
  overflow-y: auto;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / span 12;
  -ms-grid-row: 4;
  -ms-grid-row-span: 10;
  grid-row: 4 / span 10;
  background-color: #0a0a0a;
}

.signedConferences::-webkit-scrollbar {
  display: none;
}

.signedConferences #titleDiv {
  width: 100%;
  min-height: 100px;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  border-bottom: 2px solid #c00433;
  border-top: 2px solid #c00433;
  color: #906bff;
  fill: #906bff;
  -webkit-filter: drop-shadow(0 0 1rem #c00433);
          filter: drop-shadow(0 0 1rem #c00433);
}

.signedConferences .singleRowContainer {
  height: 7rem;
  background-color: black;
  border-bottom: 2px solid #c00433;
}

.signedConferences .singleRowContainer svg {
  height: 50px;
  width: 50px;
  fill: #3b33b1;
}

.signedConferences .singleRowContainer:hover svg {
  color: #ebb8ff;
  fill: #ebb8ff;
  -webkit-filter: drop-shadow(0 0 2rem #ff0062);
          filter: drop-shadow(0 0 2rem #ff0062);
}

.signedConferences .singleColumnContainer {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.signedConferences .singleColumnContainer .slideSubElement {
  -webkit-transition: height 0.9s ease-in-out;
  transition: height 0.9s ease-in-out;
}

.signedConferences .singleColumnContainer > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  height: 6rem;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.signedConferences .singleColumnContainer > div:nth-child(1) {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[20];
      grid-template-columns: repeat(20, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  background-color: black;
}

.signedConferences .singleColumnContainer > div:nth-child(1) p {
  font-weight: bolder;
  text-align: center;
  cursor: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.signedConferences .singleColumnContainer > div:nth-child(1) p:hover {
  color: #906bff;
  text-shadow: 0 0 1rem #c00433;
}

.signedConferences .singleColumnContainer > div:nth-child(1) p:active {
  color: #ebb8ff;
  text-shadow: 0 0 1rem #ff0062;
}

.signedConferences .singleColumnContainer > div:nth-child(1) p:nth-child(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
}

.signedConferences .singleColumnContainer > div:nth-child(1) p:nth-child(2) {
  -ms-grid-column: 6;
  -ms-grid-column-span: 3;
  grid-column: 6 / span 3;
}

.signedConferences .singleColumnContainer > div:nth-child(1) p:nth-of-type(2) {
  -ms-grid-column: 6;
  -ms-grid-column-span: 3;
  grid-column: 6 / span 3;
}

.signedConferences .singleColumnContainer > div:nth-child(1) p:nth-of-type(4) {
  -ms-grid-column: 10;
  -ms-grid-column-span: 3;
  grid-column: 10 / span 3;
}

.signedConferences .singleColumnContainer > div:nth-child(1) svg {
  -ms-grid-column-align: center;
      justify-self: center;
  fill: #3b33b1;
}

.signedConferences .singleColumnContainer > div:nth-child(1) svg:hover {
  color: #906bff;
  fill: #906bff;
  -webkit-filter: drop-shadow(0 0 2rem #c00433);
          filter: drop-shadow(0 0 2rem #c00433);
}

.signedConferences .singleColumnContainer > div:nth-child(1) svg:active {
  color: #ebb8ff;
  fill: #ebb8ff;
  -webkit-filter: drop-shadow(0 0 3rem #ff0062);
          filter: drop-shadow(0 0 3rem #ff0062);
}

.signedConferences .singleColumnContainer > div:nth-child(1) svg:nth-of-type(1) {
  -ms-grid-column: 5;
  grid-column: 5;
}

.signedConferences .singleColumnContainer > div:nth-child(1) svg:nth-of-type(2) {
  -ms-grid-column: 19;
  grid-column: 19;
}

.signedConferences .singleColumnContainer > div:nth-child(1) svg:nth-of-type(2) {
  height: 2rem;
  width: 2rem;
  -ms-grid-column: 19;
  grid-column: 19;
  cursor: pointer;
}

.signedConferences .singleColumnContainer > div:nth-child(2) {
  background-color: #0a0a0a;
  height: 200px;
}

.signedConferences [class*=conferenceDisp-] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  overflow: hidden;
}

.slideContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  margin: none;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -ms-flex-item-align: start;
      align-self: flex-start;
  align-content: center;
  background-color: #352b3d;
}

.slideContent h3 {
  text-align: center;
  padding: 2rem;
  background-color: #0C0032;
}

.slideContent p {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 2rem;
  padding-top: 3rem;
  margin-left: 4rem;
}

.slideContent button {
  margin: 1rem;
}
/*# sourceMappingURL=SignedConferences.css.map */